{% extends "base.html" %}

{% block content %}

    <div class="container">

      <div class="jumbotron bg-transparent">
          <img class="bg-transparent" src="static\img\osnovacan.png">
        <form class="form-signin">

         <label for="form.username" class="sr-only">Nickname</label>
        <input type="nickname" name="inputNickname" id="form.username" class="form-control" placeholder="Nickname" required autofocus>

         <label for="form.password" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="form.password" class="form-control" placeholder="Password" required>
       <button  id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">login</button>
            <h1></h1>
        <button  id="signin" class="btn btn-success  btn-sm"  style="font-size:16px;" type="button">Sign Up</button>
            <p>{{ form.submit() }}</p>
      </form>
      </div>
        </div>
{% endblock %}