{% extends "base.html" %}

{% block content %}

    <div class="container">

      <div class="jumbotron bg-transparent">
       <img class="bg-transparent" src="static\img\osnovacan.png">
        <form method="post">
            <div class="form-signin">
         <label for="name" class="sr-only">Name</label>
        <input type="name" name="name" id="name" class="form-control" placeholder="Name" required autofocus>
         <label for="nikname" class="sr-only">Nickname</label>
        <input type="nikname" name="nikname" id="nikname" class="form-control" placeholder="Nickname" required autofocus>
         <label for="pass" class="sr-only">Password</label>
        <input type="password" name="pass" id="pass" class="form-control" placeholder="Password" required>
          <div class="custom-control custom-checkbox" style="padding-right:120px;">
      <input type="checkbox" class="custom-control-input" id="s-h-pass">
      <label class="custom-control-label" for="s-h-pass" style="font-size:20px">Показать пароль</label>
          <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" > </script>
          <script>
              $( document ).ready(function() {
                  $('#s-h-pass').click(function(){
                      var type = $('#pass').attr('type') == "text" ? "password" : 'text',
                       c = $(this).text() == "Скрыть пароль" ? "Показать пароль" : "Скрыть пароль";
                       $(this).text(c);
                       $('#pass').prop('type', type);
                  });
              });
           </script>
      </div>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
              <h1></h1>
              <a href="/login"><button  id="login" class="btn btn-success  btn-sm"  style="font-size:16px;" type="button">Log in</button></a>
            </div>
        </form>
      </div>
    </div>




{% endblock %}

