{% extends "base.html" %}

{% block content %}
    <a href="/add_news">Добавить новость</a>
    {% for item in news %}
        <div class="alert alert-dark" role="alert">
            <h2>{{item[1]}}</h2>
            <div>
                <div style="overflow: hidden; width: 1070px;  height: 400px;"> <img src={{item[2]}}></div>
                {{item[3]}}
            </div>
            <div><p style="text-align: right"> {{item[4]}} <a>   <button> <img src="http://smaylikivk.ru/media/smiles/apple/1f44d-1f3fd-palets-vverkh-laik-olivkovyi-ton.png" alt="Like"
          style="vertical-align: middle"></button> </a> <button><img src="https://forums.beamdog.com/resources/emoji/-1.png" alt="Dislike"
          style="vertical-align: middle">  </button>  </p>
            </div>
            <a href="/delete_news/{{item[0]}}">Удалить новость</a>
        </div>
    {% endfor %}
{% endblock %}